<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Админ | SuitUp</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" type="text/css" media="screen" title="default" />
<!--  jquery core -->
<script src="{{ STATIC_URL }}js/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>

<!-- Custom jquery scripts -->
<script src="{{ STATIC_URL }}js/jquery/custom_jquery.js" type="text/javascript"></script>

<!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
<script src="{{ STATIC_URL }}js/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
$(document).pngFix( );
});
</script>
</head>
<body id="login-bg"> 
 
<!-- Start: login-holder -->
<div id="login-holder">

	<!-- start logo -->
	<div id="logo-login" style="margin-bottom:60px; margin-left:80px;">
		<a href=""><img src="{{ STATIC_URL }}images/logo2.png" alt="" /></a>
	</div>
	<!-- end logo -->
	
	<div class="clear"></div>
	
	<!--  start loginbox ................................................................................. -->
	<div id="loginbox">
	
	<!--  start login-inner -->
	<div id="login-inner">
			<form action="{% url manager_login %}" method="post">{% csrf_token %}
				<fieldset>
					<label for="login" style="margin-left:8px;">Логин: </label>
					<input type="text" name="login" id="login" class="login-inp" />
                    <br /><br />
					<label for="password">Пароль:</label>
					<input type="password" name="password" id="password" value="" class="login-inp" />
                    <br /><br />
                    <input type="submit" class="login-inp" value="Submit" style="margin-left:65px;" />
				</fieldset>
			</form>
    </div>
    <!--  end login-inner -->
    <div class="clear"></div>
	<a href="" class="forgot-pwd">Забыли пароль?</a>
 </div>
 <!--  end loginbox -->
 
	<!--  start forgotbox ................................................................................... -->
	<div id="forgotbox">
		<div id="forgotbox-text">Оставьте нам свой email и мы вышлем вам ваш пароль. </div>
		<!--  start forgot-inner -->
		<div id="forgot-inner">
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>Email:</th>
			<td><input type="text" value="" class="login-inp" /></td>
		</tr>
		<tr>
			<th> </th>
			<td><input type="button" class="submit-login"  /></td>
		</tr>
		</table>
		</div>
		<!--  end forgot-inner -->
		<div class="clear"></div>
		<a href="" class="back-login">Назад</a>
	</div>
	<!--  end forgotbox -->

</div>
<!-- End: login-holder -->
</body>
</html>
