<!DOCTYPE html>
 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Suit-UP!</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
	<script src="{{ STATIC_URL }}js/jquery-1.7.1.js"></script>
	
	<script src="{{ STATIC_URL }}js/jquery.quicksand.js"></script>
	<script src="{{ STATIC_URL }}js/script.js"></script>
</head>

<body>

<a href="/" class="dropbtn "></a>

<div class="container">

	<img src="{{ STATIC_URL }}images/logo.png" alt="Suit-UP" class="logo">
	
	<h1 class="subtitle">Everything you need to know about clothes &#46;</h1>
	
	<nav id="filter">		</nav>
		<div class="portfolioseperator"></div>
		<div class="portfoliocontainer">
		<ul id="stage">
            {% for item in clothes %}            
			<li data-tags="{{ item.dress_category }}">
				<a href="#"><span class="portfoliohover">
				<h1 class="porthover1">{{ item.brand.name }}, ${{ item.price }}</h1>
				<input type="submit" name="Buy" value="Buy" class="button buy">
				</span><img src="{{ MEDIA_URL }}{{ item.dress_img }}" alt="" /></a>			</li>
            {% endfor %}
		</ul>
</div>

		<div class="footerseperator"></div>
		<footer>
			<h1>&copy; Copyright 2011 Atlas&#46;</h1>
			<h2>Atlas HTML Theme by <a href="http://purtypixels.com" title="PurtyPixels">Purty Pixels</a></h2>
			<h3>Send me a <a href="#" title="Twitter">tweet</a> or become a fan on <a href="#" title="Facebook">facebook</a></h3>
		</footer>
</div><!--container end-->
</body>
</html>
