<!DOCTYPE html>
 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Suit-UP!</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
	<script src="{{ STATIC_URL }}js/jquery-1.7.1.js"></script>
	
	<script src="{{ STATIC_URL }}js/jquery.quicksand.js"></script>
	<script src="{{ STATIC_URL }}js/script.js"></script>
	<script src="{{ STATIC_URL }}js/ajax.buy.js"></script>

	<script src="{{ STATIC_URL }}js/jquery.imageZoom.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.imageZoom.css">
    <script type="text/javascript">
        $(window).load(function() {
            jQuery(document.body).imageZoom();
        });
    </script>
</head>

<body>

<a href="/" class="dropbtn " style="margin-top:-10px;"></a>

<div class="container">
	
	<h1 class="subtitle">{{ dress_type.name }}</h1>
	
	<nav id="filter">		</nav>
		<div class="portfolioseperator"></div>
		<div class="portfoliocontainer">
		<ul id="stage">
            {% for item in clothes %}            
			<li data-tags="{{ item.client_category }}">
				<a href="{{ MEDIA_URL }}{{ item.dress_img }}"><span class="portfoliohover">
				<h1 class="porthover1">{{ item.brand.name }}, ${{ item.price }}, sale - {{ item.sale_percent }}%</h1>
				<input type="button" onclick="javascript:buy({{ item.id }});" name="Buy" value="Buy" class="button buy">
				</span><img src="{{ MEDIA_URL }}{{ item.dress_img }}" height="140px;" width="210px;" alt="" /></a>			</li>
            {% endfor %}
		</ul>
</div>

		<div class="footerseperator"></div>
		<footer>
			<h1>&copy; Copyright 2012 SDU&#46;</h1>
		</footer>
</div><!--container end-->
</body>
</html>
