<!DOCTYPE html>
 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Suit-UP!</title>
	<link rel="stylesheet" href="css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

	$(".dropbtn").click(function(){
	  $("#dropdown").slideToggle("slow");
	  $(this).toggleClass("active");
	});
	
});
	</script>
	<script src="js/jquery.quicksand.js"></script>
	<script src="js/script.js"></script>
</head>

<body>
<div id="dropcontainer">
<div id="dropdown">
	
	<div class="container">
	
		<img src="images/logo.png" alt="Atlas" class="logo">
		
		
		
		<ul>
		<!--	<li class="dmenu1"><a href="#">Forrst</a></li> -->
			
			<li class="dmenu3"><a href="#">Twitter</a></li>
		
			<li class="dmenu2"><a href="#">Facebook</a></li>
		</ul>
		
		<h4>Everything you need is here&#46;&#46;&#46;&#46;</h4>
		
		<img src="images/avatar.jpg" alt="Name here" class="dropavatar">
		
		<h2>Yo&#44; I&#39;m Johnny Doe&#46;</h2>
		
		<p class="dpara1 dparas">Iste natus error sit voluptatem accusantium doloremque laudantium&#44; totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.&#46;Nemo enim ipsam voluptatem quia voluptas sit&#46;</p>
		<p class="dpara2 dparas">Neque porro quisquam est&#44; qui dolorem ipsum quia dolor sit amet&#44; consectetur, adipisci velit&#44; sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat&#46;</p>
		<h5 class="dropquote">&#8220;Everything is designed&#46; Few things are designed well&#8230;&#8221;</h5>
		
		<div class="dropsep"></div>
		
		<h6>Wanna Get in Touch&#63;</h6>
		<form>
			<input type="text" placeholder="Your Name&#46;&#46;&#46;">
			<input type="email" placeholder="Your Email&#46;&#46;&#46;">
			<textarea placeholder="Your Message&#46;&#46;&#46;"></textarea>
			<input type="submit" value="Submit &rarr;" class="dropsubmitbtn">
		</form>
	</div><!--container end-->
</div>

<a href="#" class="dropbtn "></a></div>

<div class="container">

	<img src="images/logo.png" alt="Suit-UP" class="logo">
	
	<h1 class="subtitle">Everything you need to know about clothes &#46;</h1>
	
	<nav id="filter">		</nav>
		<div class="portfolioseperator"></div>
		<div class="portfoliocontainer">
		<ul id="stage">
			<li data-tags="Man">
				<a href="#"><span class="portfoliohover">
				<h1 class="porthover1">ZARA, $150</h1>
				<input type="submit" name="Buy" value="Buy" class="button buy">
				</span><img src="images/portfolio/work1.png" alt="" /></a>			</li>
			<li data-tags="Man, Woman, Children">
				<a href="#"><span class="portfoliohover">
				<h1 class="porthover1">TopShop</h1>
				<input type="submit" name="Buy" value="Buy">
				</span><img src="images/portfolio/work2.png" alt="" /></a>			</li>
			<li data-tags="Man, Children">
				<a href="#"><span class="portfoliohover">
				<h1 class="porthover1">GAP</h1>
				</span><img src="images/portfolio/work3.png" alt="" /></a>			</li>
			<li data-tags="Man,Woman">
				<a href="#"><span class="portfoliohover"><h1 class="porthover1">Cool Rollover Titles</h1><h1 class="porthover2">As well as some nifty sub-titles</h1></span><img src="images/portfolio/work4.png" alt="" /></a>			</li>
			<li data-tags="Woman,Accessories">
				<a href="#"><span class="portfoliohover">
				<h1 class="porthover1">Celio</h1>
				</span><img src="images/portfolio/work5.png" alt="" /></a>			</li>
			<li data-tags="Man,Accessories">
				<a href="#"><span class="portfoliohover"><h1 class="porthover1">Cool Rollover Titles</h1><h1 class="porthover2">As well as some nifty sub-titles</h1></span><img src="images/portfolio/work6.png" alt="" /></a>			</li>
			<li data-tags="Man,Woman">
				<a href="#"><span class="portfoliohover">
				<h1 class="porthover1">LC WAIKIKI </h1>
				</span><img src="images/portfolio/work7.png" alt="" /></a>			</li>
			<li data-tags="Woman">
				<a href="#"><span class="portfoliohover">
				<h1 class="porthover1">Benetton</h1>
				</span><img src="images/portfolio/work8.png" alt="" /></a>			</li>
			<li data-tags="Woman">
				<a href="#"><span class="portfoliohover"><h1 class="porthover1">Cool Rollover Titles</h1><h1 class="porthover2">As well as some nifty sub-titles</h1></span><img src="images/portfolio/work9.png" alt="" /></a>			</li>
			<li data-tags="Woman">
				<a href="#"><span class="portfoliohover"><h1 class="porthover1">Cool Rollover Titles</h1></span></a>
				<form name="form1" method="post" action="">
				  <label>Buy</label>
			  </form>
				<a href="#"><span class="portfoliohover">
				<h1 class="porthover2">As well as some nifty sub-titles</h1>
				</span><img src="images/portfolio/work10.png" alt="" /></a> </li>
			<li data-tags="Man,Accessories">
				<a href="#"><span class="portfoliohover">
				<h1 class="porthover1">H&amp;M</h1>
				</span><img src="images/portfolio/work11.png" alt="" /></a>			</li>
			<li data-tags="Accessories,Woman">
				<a href="#"><span class="portfoliohover">
				<h1 class="porthover1">&nbsp;</h1>
				</span><img src="images/portfolio/work12.png" alt="" /></a>			</li>
			<li data-tags="Accessories">
				<a href="#"><span class="portfoliohover"><h1 class="porthover1">Cool Rollover Titles</h1><h1 class="porthover2">As well as some nifty sub-titles</h1></span><img src="images/portfolio/work13.png" alt="" /></a>			</li>
			<li data-tags="Woman">
				<a href="#"><span class="portfoliohover"><h1 class="porthover1">Cool Rollover Titles</h1><h1 class="porthover2">As well as some nifty sub-titles</h1></span><img src="images/portfolio/work14.png" alt="" /></a>			</li>
			<li data-tags="Man">
				<a href="#"><span class="portfoliohover">
				<h1 class="porthover1">Tommy Hilfiger </h1>
				</span><img src="images/portfolio/work15.png" alt="" /></a>			</li>
			<li data-tags="Children,Man">
				<a href="#"><span class="portfoliohover"><h1 class="porthover1">Cool Rollover Titles</h1><h1 class="porthover2">As well as some nifty sub-titles</h1></span><img src="images/portfolio/work16.png" alt="" /></a>			</li>
		</ul>
</div>

		<div class="footerseperator"></div>
		<footer>
			<h1>&copy; Copyright 2012 SDU&#46;</h1>
		</footer>
</div><!--container end-->
</body>
</html>
