<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/main_page.js"></script>
<style>
#main {
	background:#333333;
	border: solid 3 px red;
	width: 100%;
	height: 100%;
}
#yarlik {
	position:absolute;
	margin-left:30px;
	margin-top:-170px;
	background-color:#FF0000;
	padding:50px;
	cursor:pointer;
}
</style>
<title>Suitup</title>
</head>

<body>
<!--<div id="main">
<div style="margin:auto; width:850px;">
<img src="../static/img/1.jpg" name="home" alt="COMPUTER HARDWARE" style="" width="850" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="242,51,326,111" alt="Monitor" href="#monitor" />
	<area shape="poly" coords="399,241,374,217,383,195,443,198,473,221,456,247" alt="Printer" href="#printer" />
	<area shape="poly" coords="146,15,167,10,189,10,206,15,208,135,181,132,147,138" alt="Case" href="#case" />
	<area shape="poly" coords="360,35,410,27,460,49,459,66,433,77,402,80,360,54" alt="Scanner" href="#scanner" />
	<area shape="poly" coords="53,156,78,162,111,151,83,195,125,217,74,207,49,187" alt="Keyboard" href="#keyboard" />
</map>
</div>
</div>-->
</body>
</html>
